{% extends 'base.html.twig' %}

{% block title %}Добавление урока / StudyOn{% endblock %}

{% block body %}
    <h1>Создание нового урока</h1>

    {{ include('lesson/_form.html.twig') }}

    <a href="{{ path('app_course_index') }}">Вернуться к списку курсов</a>
{% endblock %}
